---
import Layout from '../layouts/Layout.astro';
import Editor from '../components/Editor.astro';
import RulePanel from '../components/RulePanel.astro';
---

<Layout title="HTMLHint - The Static Code Analysis Tool you need for your HTML">
  <div class="container">
    <nav class="masthead">
      <ul class="nav nav-pills float-end" hidden>
        <li class="active" hidden><a href="https://htmlhint.com/">Home</a></li>
        <li><a href="https://htmlhint.com/usage/cli/">Usage</a></li>
        <li><a href="https://htmlhint.com/rules/">Rules</a></li>
        <li><a href="https://github.com/htmlhint/HTMLHint/">Develop</a></li>
      </ul>
      <h1 class="h3">HTMLHint <span id="version" class="text-muted opacity-75 small"></span></h1>
    </nav>

    <hr />

    <main>
      <Editor />

      <div id="stat-bar" class="bg-black bg-opacity-25">
        <span id="hint-state"></span>
        <div id="button-area">
          <button id="show-last" class="btn btn-sm btn-primary" type="button" title="Ctrl + Left"
            >Previous</button
          >
          <button id="show-next" class="btn btn-sm btn-primary" type="button" title="Ctrl + Right"
            >Next</button
          >
        </div>
      </div>

      <RulePanel />
    </main>

    <hr />

    <footer class="small text-center opacity-75">
      <p>&copy; HTMLHint 2025</p>
    </footer>
  </div>
</Layout>

<script>
  import { initApp } from '../scripts/app.js';
  initApp();
</script>
